@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --main-font: 'Press Start 2P';
}

.poke-image {
  width: 70%;
  justify-content: center;
  margin-left: 15%;
  image-rendering: pixelated;
  display: none;
}

.card.bslib-card.bslib-mb-spacing.html-fill-item.html-fill-container.poke-card {
  height: 300px;
}

.poke-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 20px;
  max-width: 300px;
  overflow-y: hidden;
  background: linear-gradient(to bottom, #f8f8f8, #e3e3e3);
  border: 2px solid #666;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: var(--main-font);
  font-size: 12px;
  color: #333;
  padding: 5px;
  overflow-y: hidden;
  height: 300px;
  max-height: 300px;
}

.poke-row {
  margin-left: 0;
  margin-right: 0;
}

.poke-col {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 1200px) {
  .poke-col {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .poke-col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 701px) and (max-width: 991px) {
  .poke-col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (max-width: 700px) {
  .poke-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.selectize-input {
  background: linear-gradient(to bottom, #f8f8f8, #e3e3e3);
  border: 2px solid #666;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: var(--main-font);
  font-size: 12px;
  color: #333;
  padding: 5px;
}

.selectize-dropdown {
  border: 2px solid #4CAF50;
  border-radius: 5px;
  background-color: #383985;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  max-height: 250px;
  overflow-y: auto;
}

/* Style for the dropdown options */
.selectize-dropdown .option {
  padding: 10px;
  cursor: pointer;
}

/* Style for hovered dropdown option */
.selectize-dropdown .option:hover {
  background-color: #f1f1f1;
}

/* Style for selected option in the dropdown */
.selectize-dropdown .option.selected {
  background-color: #7ae23a;
  color: white;
}

.single.selectize-dropdown.shiny-input-select.form-control.plugin-selectize-plugin-a11y {
  overflow-y: hidden;
}

.card-body.bslib-gap-spacing.html-fill-item.html-fill-container {
  overflow-y: hidden;
}

.poke-image-container {
  position: relative;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url('img/pokeball_loading.png') no-repeat center center;
  background-size: contain; /* Adjust as needed */
  animation: spin 1s ease-in-out infinite; 
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) scale(1) rotate(0deg); }
  30% { transform: translate(-50%, -50%) scale(1.2) rotate(0deg); }
  40% { transform: translate(-50%, -50%) scale(1.2) rotate(-30deg); }
  50% { transform: translate(-50%, -50%) scale(1.2) rotate(30deg); }
  60% { transform: translate(-50%, -50%) scale(1.2) rotate(-30deg); }
  70% { transform: translate(-50%, -50%) scale(1.2) rotate(0deg); }
  100% { transform: translate(-50%, -50%) scale(1) rotate(0deg); }
}

.well.sidebar {
  background-color: #383985;
}

#national_table {
  height:1100px !important;
  font-family: var(--main-font);
}

#DataTables_Table_0 td {
    height: 75px;
}

.gen-choice-row {
  font-family: var(--main-font);
}

input[type=checkbox]{transform:scale(1.2); margin:0px 30px 10px; margin-left: -20px; margin-top: 3px}
hr{position:relative;bottom:4px; border-bottom:1px solid #cccccc11;}
.accent{accent-color: #49596e; }
.accent:not(:checked){opacity:0.5;}
span{font-size:0.8em;}