.poke-image {
  width: 70%;
  justify-content: center;
  margin-left: 15%;
  image-rendering: pixelated;
}

.poke-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}

.poke-row {
  margin-left: 0;
  margin-right: 0;
}

.poke-col {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 1200px) {
  .poke-col {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .poke-col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 701px) and (max-width: 991px) {
  .poke-col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (max-width: 700px) {
  .poke-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
